html(lang="en")
  head
    link(rel="stylesheet",type="text/css",href="./assets/stylesheets/application.css")
  body.sg-challenge
    .container
      header.row
        section
          h1 About programming languages
      section.row
        nav.col-md-3.js--language-navigator
          ul.nav.nav-pills.nav-stacked
            li.active(data-language="ruby")
              a(href="#") Ruby
            li
              a(href="#") Java
            li
              a(href="#") C#
            li
              a(href="#") Objective-C
            li(data-language="javascript")
              a(href="#") JavaScript
        article.col-md-9
          section.js--article.js--article--language-ruby
            h1 What it Ruby?
            p Lorem ipsum dolor sit amet, eros illum malis in est. Mea an mundi consectetuer, ei putent nonumes deterruisset nec. Eum facer falli meliore cu. Ut quo verterem definitionem. Id ancillae platonem eam.
            p Doming accusata postulant eu mei. Vel ad mazim eripuit, te sed aeterno sententiae. Cu probo autem putant mel, nisl nulla at sea. In omnis adipisci mnesarchum ius, ex cum oblique sanctus, modus indoctum efficiantur ex mel.
            p In vix rebum incorrupte, cibo dolor nonumes no pri, vim iuvaret dolorum definiebas ad. Ullum sapientem cum in. Aperiam platonem oportere eos ex, libris persecuti in est. Ex sea alii dico recteque. At esse tempor virtute quo.
            p Labores inermis eam id, sed eius oratio commune eu. Sea rebum porro vivendo te, ut nec deseruisse philosophia. Ut eos dico assum signiferumque, te mea temporibus conclusionemque. Duo ad labore iriure.
            p Ad eos mundi imperdiet, no nam quod inani delenit. Sanctus suscipit facilisis ius ne, nec ne debet mandamus. Cum at postulant disputando necessitatibus. Officiis hendrerit consectetuer in vim. Ad scribentur definitiones mel.
          section.js--article.js--article--language-javascript
            h1 What it JavaScript?
            p Lorem ipsum dolor sit amet, eros illum malis in est. Mea an mundi consectetuer, ei putent nonumes deterruisset nec. Eum facer falli meliore cu. Ut quo verterem definitionem. Id ancillae platonem eam.
            p Doming accusata postulant eu mei. Vel ad mazim eripuit, te sed aeterno sententiae. Cu probo autem putant mel, nisl nulla at sea. In omnis adipisci mnesarchum ius, ex cum oblique sanctus, modus indoctum efficiantur ex mel.
            p In vix rebum incorrupte, cibo dolor nonumes no pri, vim iuvaret dolorum definiebas ad. Ullum sapientem cum in. Aperiam platonem oportere eos ex, libris persecuti in est. Ex sea alii dico recteque. At esse tempor virtute quo.
            p Labores inermis eam id, sed eius oratio commune eu. Sea rebum porro vivendo te, ut nec deseruisse philosophia. Ut eos dico assum signiferumque, te mea temporibus conclusionemque. Duo ad labore iriure.
            p Ad eos mundi imperdiet, no nam quod inani delenit. Sanctus suscipit facilisis ius ne, nec ne debet mandamus. Cum at postulant disputando necessitatibus. Officiis hendrerit consectetuer in vim. Ad scribentur definitiones mel.
    script(src="./assets/javascripts/bundle.js")
